<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" routerLink="./home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active" *ngIf="!authService.loggedIn()">
        <a class="navbar-brand" routerLink="./register">Registracija</a>
      </li>
      <li class="nav-item"  *ngIf="!authService.loggedIn()">
        <a class="nav-link" routerLink="./login">Prijava</a>
      </li>
      <li class="nav-item"  *ngIf="authService.loggedIn()">
        <a class="nav-link" (click)="odjavise()">Odjava</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Avio-Kompanije
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown">
          <a class="dropdown-item" routerLink="/login">Air-serbia</a>
        </div>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="./listakompanija">Lista Kompanija</a>
      </li>
      <li class="nav-item"  *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="./istorija-rezervacija"> Istorija rezervacija</a>
      </li>
      <li class="nav-item"  *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="./dodajkompaniju"> Dodaj Renta-Car Kompaniju</a>
      </li>
      <li class="nav-item"  *ngIf="authService.loggedIn()">
        <a class="nav-link" routerLink="./dodajauto"> Dodaj Auto</a>
      </li>
    </ul>
  </div>
</nav>